html {
    scroll-behavior: smooth;
}

body {
    background:rgb(118, 184, 184);
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.text-white {
    color: white;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('gt.png');
    background-attachment: fixed;
    background-size: cover;
}

.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row h1 {
    font-size: 5rem;
}

.main_row img {
    width: auto;
    height: 100vh;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #b3953e;
    transition: 0.5s ease;
}

.about {
    background:rgb(3, 56, 56);
    border-radius: 0.5 rem;
}

.card {
    border-bottom: 8px solid #08532a;
}