html {
    scroll-behavior: smooth;
}

body {
    background:rgb(131, 194, 194);
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.text-white {
    color: white;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('gt.png');
    background-attachment: fixed;
    background-size: cover;
}

.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row h1 {
    font-size: 5rem;
}

.main_row img {
    width: auto;
    height: 100vh;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #be3658;
    transition: 0.5s ease;
}

.about {
    background:rgb(44, 112, 112);
    border-radius: 0.5 rem;
}

.card {
    border-bottom: 8px solid #ff0217;
}
#social-media{
    background:grey;
}
.media_link{
    padding: 1rem;
    max-width: 12rem !important;
    margin-left: 1rem;
    border: 2px solid rgb(226, 17, 80) !important;
    border-radius: 0.5rem;
    height: 90px;
}